
@{
    ViewData["Title"] = "DeleteProd";
}
@model CartItem
<form asp-action="DeleteProd" class="mt-5" method="post">

    <div class="w-100 d-flex justify-content-end mb-3">
        <a asp-action="StoreFront" class="btn btn-warning">Back to Store</a>
    </div>
    <div class="border p-3">
        <div class="form-group">
            <h1 class="text-danger pl-3">Remove Product</h1>
        </div>
        <div class="ml-1 row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <h5>Product Id</h5>
                    </div>
                    <div class="col-8">
                        <input required asp-for="Id" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            
                <div class="col-4 d-flex w-100 justify-content-center align-items-center">
                    <img class="img-fluid w-50" src="https://i.postimg.cc/mg76ktgw/bermuda-753.png" alt="Alternate Text" />
                </div>
    
        </div>

    </div>


</form>